<h1>Battle</h1>
<h2>Sign in to play</h2>
<form action='/names' method='post'>
<label for="player_one">
    Player 1 name
<input type='text' name='player_one'>
<label for="player_two">
    Player 2 name
<input type='text' name='player_two'>
<input type=submit value='Submit'>
</form>